<header>
  <div class="header-logo">
    <a class="" href="<%= root_path %>">
      <%= image_tag("man-with-money.svg", class: "header-logo-image") %>
    </a>
  </div>
  <div class="header-menu">
    <%= link_to "Home", root_path %>
    <%= link_to "Something", "#" %>
    <%= log_button %>
  </div>
</header>
